@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.categorias {
  padding: 5rem 0;
  width: 100%;

  &__heading{
    text-align: center;
    margin: 0 0 2rem 0;
  }

  &__contenedor {
    @include m.tablet { 
      @include m.grid(3, 2rem)
    }
  }
}

.categoria {
  a{
    display: block;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;

    &:hover {
      background-color: v.$primario;
      color: v.$blanco;
      border-bottom-right-radius: 1rem;
    }
  }
  
}